.App {
  text-align: center;
  background-image: linear-gradient(90deg, rgb(30, 30, 30), rgb(49, 47, 47), rgb(30, 30, 30));
  overflow: hidden;
  margin: 0;

}



#logoID {
   transition: 200ms;
   transform: scale(1);
   /* filter: drop-shadow(0 0 0.1rem white); */
   animation: heartBeat 2s ease-in-out infinite alternate;

}
@keyframes heartBeat {
  from {
    filter: drop-shadow(0 0 0.1rem white);
    transform: scale(1);
  }

  to {
    filter: drop-shadow(0 0 0.7rem white);
    transform: scale(1.1);
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
